<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="resource/css/style.css">
</head>

<body>
    <div class="loginForm">
        <h2>Login</h2>
        <form action="/auth" method="POST">
            <input type="text" name="user" id="user" placeholders="user" required>
            <input type="password" name="password" id="password" placeholders="password" required>
            <input type="submit" class="btnLogin" value="login">
        </form>
        <a href="/recordar" class="btnRegister">Recordar Clave</a>
    </div>
</body>

</html>